$color-primary: #2E66AA;
$color-content: #1C1A2F;
$color-content-clear: #E4E3EE;

$font-body: "Futura PT";
$font-display: "DM Serif Display";

$container-lg: 1320px;
$container-sm: 980px;

$font-size-base: 16px;